.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 1.8rem;
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.06);
}

.nav-brand {
  flex-grow: 1;
  text-align: center;
  font-size: 2rem;
}

.nav__left {
  display: flex;
  width: 5rem;
  align-items: center;
}

.settings {
  display: flex;
  justify-content: space-between;
  width: 5rem;
}
