@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

@font-face {
  font-family: GillSans;
  src: url('./assets/Gill-Sans-Font-Family/GillSans.otf');
}

@font-face {
  font-family: GillSansBold;
  src: url('./assets/Gill-Sans-Font-Family/GillSansBold.otf');
}

@font-face {
  font-family: GillSansMedium;
  src: url('./assets/Gill-Sans-Font-Family/GillSansMedium.otf');
}

@font-face {
  font-family: GillSansLight;
  src: url('./assets/Gill-Sans-Font-Family/GillSansLight.otf');
}

:root {
  --primary-color: #fb5092;
  --secondary-color: #cf4278;
  --text-color: #fff;
  --body-color: #eb4c89;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 62.5%;
  font-family: GillSans, 'Lato', sans-serif;
  background: var(--body-color);
  color: var(--text-color);
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

i {
  font-size: 3rem;
}

.nav-icon {
  font-size: 2rem;
}

.App {
  width: 100%;
}

.Main,
.Detail {
  position: relative;
}

.main-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
  grid-gap: 30px;
}

.market-img {
  filter: brightness(40%) opacity(0.5);
}

.main-content {
  background: rgba(0, 0, 0, 0.1);
}

.main-content__heading {
  font-size: 1.5rem;
  word-spacing: 0.8px;
}

.main-header__summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.5rem;
}

.category {
  font-size: 2.5rem;
}

.total {
  font-size: 2rem;
}

.main-content__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  background: var(--secondary-color);
}

.company__card-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  margin-bottom: 2rem;
}

.main-content__card-list .grid-card {
  position: relative;
  padding: 1rem 1.8rem;
}

.symbol {
  font-size: 20px;
  font-family: GillSansMedium, sans-serif;
}

.price {
  font-size: 2rem;
  opacity: 0.8;
  margin-bottom: 1rem;
  font-family: GillSans, sans-serif;
  text-align: right;
}

.company__card {
  padding: 3rem 1.5rem;
  cursor: pointer;
}

.company__card-div {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.company__card-div div {
  text-align: right;
}

.value {
  margin-right: 2rem;
}

.company__card:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.08);
}

.loading-container {
  display: grid;
  place-items: center;
}

.loading-container_h {
  min-height: 100vh;
}

.loading-container_s {
  height: 20px;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid var(--primary-color);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.filter-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 2rem;
}

.filter-section__filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  padding: 0.8rem 1rem;
  outline: none;
  border: none;
  border-radius: 0.8rem;
}

.input:focus {
  border-color: #fff;
}

.filter-section__input {
  width: 75%;
}

.filter {
  width: 20%;
  align-self: stretch;
  position: relative;
}

.filter__button {
  all: unset;
  width: 100%;
  background: #f3f3f3;
  padding: 0.38em 0;
  text-align: center;
  cursor: pointer;
  color: #000;
  font-size: 2.6em;
  user-select: none;
  display: block;
  position: relative;
}

.filter__list {
  position: absolute;
  text-align: center;
  max-height: 0;
  overflow: hidden;
  font-size: 2.2em;
  transition: all 500ms ease-out;
}

.list__item {
  padding-block: 0.45em;
  position: relative;
  z-index: 100;
  background-color: rgb(93, 90, 90);
  border: 0.5px solid #000;
}

.list__button {
  all: unset;
  cursor: pointer;
  width: 100%;
  display: block;
}

.menu-1 {
  width: 0;
  left: 50%;
}

.menu-1.active {
  max-height: 300px;
  width: 100%;
  left: 0;
}

.no-data {
  font-size: 2.5rem;
}

@media screen and (min-width: 768px) {
  .filter-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main-content__heading {
    flex: 2;
  }

  .filter-section__filter {
    width: 40%;
  }

  .filter-section__input {
    width: 60%;
  }

  .filter {
    width: 35%;
  }
}
